.header {
  border: solid 1px black;
}

h1 {
    color:black
}

.title {
    display: flex;
    justify-content: center;
}

.dashboard {
  border: solid 1px black;
  margin: 4px 0;
  padding: 0.5vh;
}
