body {
  padding: 0;
  margin: 0;
  /* min-height: 100vh; */
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f6eee2 0%, #e9f3f6 45%, #fdf6ed 100%);
}

.header {
  border: solid 1px black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1vh 0 1vh;
  padding: 0;
}

h1 {
    color:black;
}

.title {
    display: flex;
    justify-content: center;
}

.main-content {
  border: solid 1px black;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1vh 1vh 1vh;
  padding: 0;
}

.footer {
    border: solid 1px black;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vh 0 1vh;
    padding: 0;
}